nav {
    font-family: Montserrat;
    font-size: 32px;
    margin-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-left{
    margin-top: 20px;
    top: 0;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;
}

nav .colmar_name {
    font-size: 32px;
    font-weight: bold;
    color: #3f3e3e;
}

nav .acadamy_name {
    font-weight: lighter;
    font-size: 32px;
    color: #9a9a9a;
}

nav img {
    width: 60px;
}

nav ul {
    list-style: none;
    gap: 16px;
    right: 0;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    color: inherit;
}