nav {
    font-family: Montserrat;
    font-size: 32px;
    margin-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-left{
    margin-top: 20px;
    top: 0;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;
}

nav .colmar_name {
    font-size: 32px;
    font-weight: bold;
    color: #3f3e3e;
}

nav .acadamy_name {
    font-weight: lighter;
    font-size: 32px;
    color: #9a9a9a;
}

nav img {
    width: 60px;
}

nav ul {
    list-style: none;
    gap: 16px;
    right: 0;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    color: inherit;
}

.banner {
    color: #3f3e3e;
    background-color: #d2d2d2;
    display: flex;
    align-items: center;
}

.banner img {
    margin-left: 24px;
    width: 60%;
    height: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.banner h1 {
    font-size: 5.5rem;
}

.banner p {
    font-size: 3rem;
    margin-right: 70px;
}

.banner-text {
    font-family: Montserrat;
    margin-left: 150px;
    margin-right: 150px; /* increase this value */
}

.banner-text button {
    margin-right: 150px;
    display: block;
    width: 100%;
    height: 80px;
    background-color: #3f3e3e;
    color: white;
    font-size: 43px;
}
